body {
    background-color: #232323;
    margin: 0px;
    font-family: "Montserrat", "Avenir";
    text-align: center;
}

h1 {
    color : white;
}

textarea {
    overflow:scroll;
    height:250px;
    text-align: center;
}

